# Simple txt mapping converter
## Reads and converts raw CGAL mesh to unfold .txt mappings to CSV

In [16]:
import pandas as pd

###  Setting location of folders

In [31]:
folder_location = '../../data/templates/vega/'
data_file = 'uv_xyz_mapping.txt'
write_file = 'vega_mapping_uv_2_xyz.csv'

### Read txt file and convert to csv

In [32]:
df = pd.read_csv(folder_location+data_file, sep="\t", header=None)
df.columns = ['uv','xyz']

In [33]:
df.head()

   uv   xyz
0   0  1770
1   1     1
2   2     1
3   3  1770
4   4     1

In [34]:
df.tail()

          uv  xyz
65951  65951    5
65952  65952    8
65953  65953    5
65954  65954    5
65955  65955    8

### Planar point IDs are denoted by *uv* being mapped to 3D mesh location IDs *xyz*

In [35]:
df.to_csv(folder_location+write_file, columns=['uv','xyz'], index=None)

In [36]:
df['uv'].max()

65955

In [30]:
df['xyz'].max()

5619