# Simple txt mapping converter
## Reads and converts raw CGAL mesh to unfold .txt mappings to CSV

In [33]:
import pandas as pd

###  Setting location of folders

In [34]:
folder_location = '../../data/templates/sirius/'
data_file = 'sirius_mapping_s2u.txt'
write_file = 'sirius_mapping_s2u.csv'

### Read txt file and convert to csv

In [35]:
df = pd.read_csv(folder_location+data_file, sep="\t", header=None)
df.columns = ['xyz','uv']

In [36]:
df.head()

   xyz     uv
0    0   1770
1    1  22110
2    2  22110
3    3   1770
4    4  22110

In [37]:
df.tail()

             xyz     uv
1046243  1046243  87687
1046244  1046244  87684
1046245  1046245  87687
1046246  1046246  87687
1046247  1046247  87684

### Planar point IDs are denoted by *uv* being mapped to 3D mesh location IDs *xyz*

In [38]:
df.to_csv(folder_location+write_file, columns=['xyz','uv'], index=None)

In [39]:
df['uv'].max()

87687

In [40]:
df['xyz'].max()

1046247